*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    background-image:url(Imagens/Céu.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center ;
    height: 50vh;
    padding-top: 25vh;
    margin-bottom: 5%;
}

header h1{
    color: yellow;
    margin-left: 40%;
    font-size: 10vh;
}

article{
    margin-left: 5%;
    margin-right: 5%;
}

article h1{
    font-size: 5vh;
}

article p{
    justify-content: space-between;   
}

article img{
    height: 50vh;
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
}

footer{
    background-color: darkgray;
    margin-top: 5%;
    
}


